@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body {
  background: #efefef;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;
}

/* Logo Font Styles */

.font-title {
  font-family: Montserrat;
  font-weight: bolder;
}

/* Sidebar Styles */

.nav-menu {
  background-color: #fff;
  width: 250px;
  height: 90vh;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  /* left: -100%; */
  flex-shrink: 0;
  transition: 850ms;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);;
}

@media(max-width:992px) {
  .nav-menu {
    width:40px;
  }
}

.slick-slide>div {
  margin: 0 30px;
}

.slick-slide>div:nth-child(1) {
  margin-left: 0;
}

.slick-list {
  margin-right: -30px;
}